<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main flex-column align-items-start container">
  <h1>{{ title | slice:0:3 }}</h1>
  {{ date | date:'d/MM/yy' }}
  {{ amount | currency:'EUR' }}
  <div [ngStyle]="{fontWeight: fontWeight, color: color}">I've got style</div>
  <!--  <input [(ngModel)]="hello"> 
  <p>{{hello}}</p> -->
  {{ tasks | slice:0:1 | json }}
  <section *ngIf="tasks.length > 0">
    <h2 class="text-danger">Les tâches qu'il te reste à faire :</h2>
    <ul class="list-unstyled">
      <li
        *ngFor="let task of tasks; index as i; first as isFirst; last as isLast"
      >
        <div style="display: flex; gap: 20px">
          <span *ngIf="isFirst">Premier</span>
          <span *ngIf="isLast">Dernier</span>
          <span [ngClass]="{'text-decoration-line-through': task.done, 'task-not-done': !task.done}">{{ task.name }}</span>
          <span>{{ task.comment }}</span>
          <button (click)="onButtonValidate(task)" class="btn btn-success" >Valider</button>
        </div>
      </li>
    </ul>
  </section>

  <input #lastname type="text" value="test" />
  <button (click)="lastname.focus()">Focus the input</button>
  <button (click)="logValue(lastname.value)">Afficher le nom</button>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
