<section *ngIf="tasks.length > 0">
  <h2 class="text-danger">Les tâches qu'il te reste à faire :</h2>
  <ul class="list-unstyled">
    <li
      *ngFor="let task of tasks; index as i; first as isFirst; last as isLast"
    >
      <div style="display: flex; gap: 20px">
        <span *ngIf="isFirst">Premier</span>
        <span *ngIf="isLast">Dernier</span>
        <span
          [ngClass]="{
            'text-decoration-line-through': task.done,
            'task-not-done': !task.done
          }"
          >{{ task.name }}</span
        >
        <span>{{ task.comment }}</span>
        <button
          (click)="onButtonValidate(task)"
          [ngClass]="{
            'btn': true,
            'btn-warning': task.done,
            'btn-success': !task.done
          }"
        >
        <!-- Opérateur ternaire, permet de faire la même chose qu'un if else mais dans une expression -->
          {{ task.done ? "Invalider" : "Valider" }}
        </button>
      </div>
    </li>
  </ul>
</section>
